@import './config';

body {
  font-family: 'Fraunces 9pt Soft';
  font-weight: 700;
}

p {
  font-family: 'Barlow';
}

.intro {
  background-image: url('/images/mobile/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 38rem;
  position: relative;
  @media (width > 45em) {
    background-image: url('/images/desktop/image-header.jpg');
    height: 40.84rem;
    background-size: cover;
  }


  ul {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }

  .btn {
    background: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 20rem;
    font-weight: 700;
    font-family: 'Fraunces 9pt Soft';
    text-transform: uppercase;
    &:hover {
      color: white;
      background-color: $photography-text;
    }
    @media (width < 45em) {
      background: $Yellow;
      color: black;
    }
  }

  h1 {
    text-align: center;
    color: $White;
    padding-top: 4rem;
    font-size: 3.2rem;
    width: 22rem;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 900;
    @media (width > 45em) {
      width: unset;
      font-size: 4rem;
    }
  }
  .down-arrow {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-65%, -50%);
    @media (width > 45em) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  @media (width > 45em) {
    padding: 2rem 4rem;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    border: none;

    @media (width > 45em) {
      display: none;
    }
  }

  ul {
    display: flex;
    column-gap: 1rem;
    list-style: none;
    font-family: 'Barlow';
    @media (width < 45em) {
      flex-direction: column;
      row-gap: 2rem;
    }
  }
}

.menu-btn {
  @media (width < 45em) {
    background-color: white;
    position: absolute;
    top: 8rem;
    left: 1.5rem;
    right: 1.5rem;
    height: 21.6rem;
    padding: 5rem 2rem;
    z-index: 30;
    display: none;
    
    
    a {
      color: black;
    }
  }
}

.toggle-menu {
  display: block;
}


.content {
  display: grid;
  grid-template-columns: 100%;

  @media (width > 45em) {
    grid-template-columns:  50% 50%;
  }

  .context {
    padding: 2rem;
    text-align: center;
    @media (width > 45em) {
      padding: 8rem 3rem;
      text-align: left;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 900;
      width: 19rem;
      margin: 0 auto;
      margin-bottom: 1.1rem;
      @media (width > 45em) {
        width: 28rem;
        padding-right: 8rem;
      }
    }

    p {
      font-size: 1.1rem;
      width: 20rem;
      margin: 0 auto;
      line-height: 1.5;
      color: $Grayish-blue;
      @media (width > 45em) {
        width: 28rem;
      }
    }

    button {
      text-transform: uppercase;
      font-family: 'Fraunces 9pt Soft';
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-top: 2rem;
      font-size: 1.2rem;
    }

    .btn-one {
      position: relative;
      hr {
        position: absolute;
        top: 14px;
        left: -10px;
        z-index: -1;
        width: 10rem;
        height: .9rem;
        border-radius: 12px;
        border: none;
        background-color: hsla(51, 100%, 49%, 0.4);
        transition: all ease-in .25s;
        &:hover {
          background-color: $Yellow;
        }
      }
      @media (width > 45em) {
        margin-left: 5rem;
      }
    }
    .btn-two {
      position: relative;
      hr {
        position: absolute;
        top: 14px;
        left: -10px;
        z-index: -1;
        width: 10rem;
        height: .9rem;
        border-radius: 12px;
        border: none;
        background-color: hsla(7, 99%, 70%, 0.4);
        transition: all ease-in .25s;
        &:hover {
          background-color: $Soft-red;
        }
      }
      @media (width > 45em) {
        margin-left: 5rem;
      }
    }
  }

  .transform {
    background-image: url('/images/mobile/image-transform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 22.84rem;
    @media (width > 45em) {
      background-image: url('/images/desktop/image-transform.jpg');
      height: 32rem;
      background-size: cover;
    }
  }

  .stand-out {
    background-image: url('/images/mobile/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 22.9rem;
    @media (width > 45em) {
      background-image: url('/images/desktop/image-stand-out.jpg');
      height: 32rem;
    }
  }

  .graphic {
    background-image: url('/images/mobile/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 43.9rem;
    text-align: center;
    color: $graphic-design-text;
    @media (width > 45em) {
      background-image: url('/images/desktop/image-graphic-design.jpg');
      height: 32rem;
    }

    h3 {
      padding-top: 31rem;
      font-weight: 900;
      font-size: 1.3rem;
      @media (width > 45em) {
        padding-top: 20rem;
      }
    }

    p {
      width: 25rem;
      margin: auto;
      padding: 1rem 0 5rem;
      font-size: .8rem;
      line-height: 1.6;
    }
  }

  .photography {
    background-image: url('/images/mobile/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 43.9rem;
    text-align: center;
    color: $photography-text;
    
    @media (width > 45em) {
      background-image: url('/images/desktop/image-photography.jpg');
      height: 32rem;
    }

    h3 {
      padding-top: 31rem;
      font-weight: 900;
      font-size: 1.3rem;
      @media (width > 45em) {
        padding-top: 20rem;
      }
    }

    p {
      width: 25rem;
      margin: 0 auto;
      padding: 1rem 0 5rem;
      font-size: .8rem;
      line-height: 1.6;
    }
  }
}

.testimonials {
  margin: 6rem 0 1rem;
  text-align: center;

  h2 {
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    color: $Dark-grayish-blue;
  }

  .individuals {
    display: grid;
    justify-content: center;
    grid-template-columns: 85%;
    @media (width > 45em) {
      grid-template-columns: 24% 24% 24%;
      column-gap: 2rem;
    }

    img {
      width: 4rem;
      border-radius: 50%;
    }

    p {
      margin: 2rem 0 1rem;
      font-size: 1.03rem;
      line-height: 1.6;
      color: $Grayish-blue;
    }

    span {
      display: block;
      margin-top: 2rem;
      font-family: 'Fraunces 9pt Soft';
      color: black;
    }

    h5 {
      color: $Grayish-blue;
      font-family: 'Barlow';
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (width > 45em) {
    grid-template-columns: 25% 25% 25% 25%;
  }


  .milkbottles {
    background-image: url('/images/mobile/image-gallery-milkbottles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 14rem;
    width: auto;
    @media (width > 45em) {
      background-image: url('/images/desktop/image-gallery-milkbottles.jpg');
      height: 25rem;
      background-size: cover;
    }
  }
  .orange {
    background-image: url('/images/mobile/image-gallery-orange.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 14rem;
    width: auto;
    
    @media (width > 45em) {
      background-image: url('/images/desktop/image-gallery-orange.jpg');
      height: 25rem;
      background-size: cover;
    }
  }

  .cone {
    background-image: url('/images/mobile/image-gallery-cone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 14rem;
    width: auto;
    @media (width > 45em) {
      background-image: url('/images/desktop/image-gallery-cone.jpg');
      height: 25rem;
      background-size: cover;
    }
  }

  .sugar-cubes {
    background-image: url('/images/mobile/image-gallery-sugar-cubes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 14rem;
    width: auto;
    @media (width > 45em) {
      background-image: url('/images/desktop/image-gallery-sugarcubes.jpg');
      height: 25rem;
      background-size: cover;
    }
  }
}

footer {
  background-color: $footer;
  text-align: center;
  padding: 4rem 0;

  .nav-btn {
    display: flex;
    justify-content: center;
    column-gap: 6rem;
    margin: 1rem 0 4rem;
    @media (width > 45em) {
      column-gap: 3rem;
    }

    a {
      text-decoration: none;
      color: $graphic-design-text;
      font-family: 'Barlow';
      &:hover {
        color: white;
      }
    }
  }
  .social-icon {
    display: flex;
    column-gap: 2rem;
    justify-content: center;

    a {
      color: $graphic-design-text;
      font-size: 2rem;
      font-family: 'Barlow';
      &:hover {
        color: white;
      }
    }
  }
}

.attribution { 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}